main {
  position: relative;
  overflow: hidden;
  border: solid #DDDDDD;
  border-width: 0px 1px;
  height: 100%;
  margin: 0em auto 0em 12em;
  max-width: calc(100% - 12em);
  padding: 1em;
  color: #444;
}

main h2 {
  color: #FF9500;
  font-weight: 200;
  width: 250px;
  margin: 0em;
}