body {
  font-family: 'Roboto Mono';
  color: #FFFFFF;
  background-color: #FAFAFA;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #444;
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  -ms-transition: color .25s ease-out;
  transition: color .25s ease-out;
  outline: none;
}

a:hover {
  color: #FF9500;
}

#sidebar #icon {
  position: absolute;
  display: block;
  right: 25%;
  top: 2em;
  width: 50%;
}

#sidebar {
  position: fixed;
  overflow: hidden;
  background-color: #404040;
  border-bottom: solid 1px #343F48;
  height: 100%;
  margin: 0em auto;
  width: 12em;
  padding: 0em;
}

#nav {
  position: relative;
  top: 8em;
  overflow: hidden;
  padding: 0em;
  list-style: none;
}

#nav li {
  height: 2.5em;
  width: 12em;
}

#nav li a {
  color: #AAA;
  width: 12em;
  display: inline-block;
  height: inherit;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
}

#nav li a hr {
  position: relative;
  height: 1px;
  bottom: 10px;
  background: #888;
  border: 0px;
  width: 0px;
  -webkit-transition: width .25s, background .25s;
  -moz-transition: width .25s, background .25s;
  -o-transition: width .25s, background .25s;
  -ms-transition: width .25s, background .25s;
  transition: width .25s, background .25s;
}

#nav li.current a hr {
  width: 6em;
}

#nav li a:hover {
  color: #DDD;
}

#nav li a:hover hr {
  width: 6em;
  background: #DDD;
}

#nav li a:active {
  color: #AAA;
}

#nav li a:active hr {
  background: #888;
}

main {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0em auto 0em 12em;
  max-width: calc(100% - 12em);
  padding: 1em;
  color: #444;
}

@media (max-width: 700px) {
  #sidebar {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 7em;
  }

  #sidebar #icon {
    width: 6em;
    padding: 0 auto;
    left: 1em;
    top: calc(50% - 3em);
  }

  #nav {
    position: relative;
    height: auto;
    //left: 6em;
    padding: 0 0 0 6em;
    top: 0;
  }

  #nav li {
    float: left;
  }

  main {
    margin: 0;
    max-width: 100%;
  }
}