body {
  font-family: 'Roboto Mono';
  color: #FFFFFF;
  background-color: #FAFAFA;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #444;
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  -ms-transition: color .25s ease-out;
  transition: color .25s ease-out;
  outline: none;
}

a:hover {
  color: #FF9500;
}

#sidebar #icon {
  position: absolute;
  display: block;
  top: 25%;
  left: calc(50% - 50px);
  max-width: 100px;
}

#sidebar {
  position: fixed;
  overflow: hidden;
  background-color: #404040;
  border-bottom: solid 1px #343F48;
  height: 100%;
  margin: 0em auto;
  max-width: 12em;
  min-width: 12em;
  padding: 0em;
}

#nav {
  position: relative;
  top: calc(25% + 100px);
  overflow: hidden;
  padding: 0em;
  list-style: none;
}

#nav li {
  height: 2.5em;
}

#nav li a {
  color: #AAA;
  width: 12em;
  display: inline-block;
  height: inherit;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
}

#nav li a hr {
  position: relative;
  height: 1px;
  bottom: 10px;
  background: #888;
  border: 0px;
  width: 0px;
  -webkit-transition: width .25s, background .25s;
  -moz-transition: width .25s, background .25s;
  -o-transition: width .25s, background .25s;
  -ms-transition: width .25s, background .25s;
  transition: width .25s, background .25s;
}

#nav li a:hover {
  color: #DDD;
}

#nav li a:hover hr {
  width: 6em;
  background: #DDD;
}

#nav li.current a hr {
  width: 6em;
}

main {
  position: relative;
  overflow: hidden;
  border: solid #DDDDDD;
  border-width: 0px 1px;
  height: 100%;
  margin: 0em auto 0em 12em;
  max-width: calc(100% - 12em);
  padding: 1em;
  color: #444;
}

main h2 {
  color: #FF9500;
  font-weight: 200;
  width: 250px;
  margin: 0em;
}

p {
  margin: 0.5em 0em;
}