"template" : "templates/sidebar.hbs",
"current" : "/",
"title" : "Index",
"content" : "<ul class=posts>
	{{#each posts}}
		<li>
      <div class=date>{{this.date}}</div>
      <a href=p/{{@key~}}.html>{{this.title}}</a>
    </li>
	{{/each~}}
</ul>"