<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="c/style.css">
    <script src="localhost:3000/c/jquery-2.2.0.js"></script>
  </head>
  <body>
    <div id="banner">
      <img id="icon" src="http://i.imgur.com/Clg2i1I.png" />
    </div>
    <ul id="nav">
      <li class=""><a href="">Posts</a></li>
      <li class=""><a href="projects.html">Projects</a></li>
    </ul>
    <main>
      {{content}}
    </main>
  </body>
</html>